<footer>
	<div class="container">
		<div class="row">
		<div class="col-md-4">
			<span class="copyright">Copyright &copy; Track Record</span>
		</div>
		<div class="col-md-4">
			<ul class="list-inline social-buttons">
			<li class="list-inline-item">
				<a href="https://twitter.com/Trackrecord_">
				<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a href="https://www.facebook.com/TrackRecordmobileapp/">
				<i class="fa fa-facebook"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a href="https://www.instagram.com/Trackrecordmobileapp/">
				<i class="fa fa-instagram"></i>
				</a>
			</li>
			</ul>
		</div>
		<div class="col-md-4">

		</div>
		</div>
	</div>
</footer>