

{% extends "shared/base.html" %}

{% block title %}Main{% endblock %}

{% block content %}

<body id="page-top">
    {% include "shared/navbar.html" %}
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
            <div class="intro-heading text-uppercase">Find credible and worthy performers for your live music venue.</div>
            <div class="intro-desc">Be worry free when it comes to hiring bands and live music for your venue or business. 
            Make quick and easy decision on hiring an artist by reviewing their musical track record.</div>>
            <a class="btn btn-primary btn-xl text-uppercase " href="/signup">Sign Up</a>
            </div>
        </div>
    </header>	
    {% include "shared/footer.html" %}
 </body>

{% endblock %}